### Read the arabica data set into a dataframe
You will notice an "Unnamed: 0" column. Where does it come from, how can one get "rid" of it?

In [1]:
import pandas as pd

pd.set_option("max_columns", 2000)

In [2]:
arabica_data_cleaned = pd.read_csv("../../data/arabica_data_cleaned.csv", index_col=0)

arabica_data_cleaned.head()

,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,Region,Producer,Number.of.Bags,Bag.Weight,In.Country.Partner,Harvest.Year,Grading.Date,Owner.1,Variety,Processing.Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Category.One.Defects,Quakers,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,NaN,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,90.58,0.12,0,0.0,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,89.92,0.12,0,0.0,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
3,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,NaN,NaN,5,1,Specialty Coffee Association,NaN,"May 31st, 2010",Grounds for Health Admin,Bourbon,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,89.75,0.00,0,0.0,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
4,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,oromia,Yidnekachew Dabessa Coffee Plantation,320,60 kg,METAD Agricultural Development plc,2014,"March 26th, 2015",Yidnekachew Dabessa,NaN,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,89.00,0.11,0,0.0,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
5,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,guji-hambela,METAD PLC,300,60 kg,METAD Agricultural Development plc,2014,"April 4th, 2015",metad plc,Other,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,88.83,0.12,0,0.0,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

The Unnamed 0 column should probably be the index.
It can be solved by adding: index_col=0 .

## Drop some categorical columns
The dataset is rich in meta data, however we just want to keep "Country.of.Origin", "Producer", "Processing.Method". How to drop the rest?
While you're at it rename the three columns we want to keep so they do not have dots but space in their name.

In [3]:
import numpy as np

In [4]:
def get_int_float(df):
    cols_int_float = []
    for col in df.columns:
        if df[col].dtypes in [float,int]:
            cols_int_float.append(col)
    return cols_int_float

In [5]:
def subset_int_float_in_df_colnames_list(df):
    colnames_list = []
    for column in df.columns:
        if df[column].dtypes in [float, int]:
            colnames_list.append(column)
    return colnames_list

In [6]:
coffee_subset_list_1 = subset_int_float_in_df_colnames_list(arabica_data_cleaned)

coffee_subset_list_2 = coffee_subset_list_1 + ["Country.of.Origin", "Producer", "Processing.Method"]

arabica_data_subset = arabica_data_cleaned[coffee_subset_list_2]

arabica_data_subset = arabica_data_subset.rename(columns={"Country.of.Origin":"Country of Origin","Processing.Method":"Processing Method"})

arabica_data_subset.head()

,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Quakers,altitude_low_meters,altitude_high_meters,altitude_mean_meters,Country of Origin,Producer,Processing Method
1,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,90.58,0.12,0.0,1950.0,2200.0,2075.0,Ethiopia,METAD PLC,Washed / Wet
2,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,89.92,0.12,0.0,1950.0,2200.0,2075.0,Ethiopia,METAD PLC,Washed / Wet
3,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,89.75,0.00,0.0,1600.0,1800.0,1700.0,Guatemala,NaN,NaN
4,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,89.00,0.11,0.0,1800.0,2200.0,2000.0,Ethiopia,Yidnekachew Dabessa Coffee Plantation,Natural / Dry
5,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,88.83,0.12,0.0,1950.0,2200.0,2075.0,Ethiopia,METAD PLC,Washed / Wet

## Clean the data set
The dataset does not seem to be as clean as the filename might suggest. How can you get a quick overview over the data and identify which columns have extreme outliers? If you cannot using pd commands, try to plot (see next question)!

Plan:

- If a column contains more than 25% NaN, it is removed
- If a row contains only one missing value/NaN it is removed
--> ergo no NaN left

<br>

- calculate sd for every column and values that are differing more than 3sd from mean, are set to median

In [7]:
from collections import Counter

In [8]:
def get_nan_colnames(df, percent_cutoff):
    cols_to_remove = []
    for col in df.columns:
        mask = df[col].isnull()
        total_nan = mask.sum()
        percentage = (total_nan/len(mask))
        if percentage >= percent_cutoff: cols_to_remove.append(col)
    return cols_to_remove

We want to kick the columns with minimum 25% NaN:

In [9]:
list_drop_colnames = get_nan_colnames(arabica_data_subset, 0.25)

In [10]:
arabica_data_subset_2 = arabica_data_subset.drop(list_drop_colnames, axis=1)

print(f'The uncleaned dataframe has {arabica_data_subset.shape[1]} columns.')
print(f'The cleaned dataframe has {arabica_data_subset_2.shape[1]} columns.')

The uncleaned dataframe has 19 columns.
The cleaned dataframe has 19 columns.

In [11]:
arabica_data = arabica_data_subset_2.dropna(axis="rows")

print(f'The uncleaned dataframe has {arabica_data_subset_2.shape[0]} rows.')
print(f'The cleaned dataframe has {arabica_data.shape[0]} rows.')

The uncleaned dataframe has 1311 rows.
The cleaned dataframe has 924 rows.

## Plot 
Plot a plotly histogram for each of the remaining columns. Can you write a loop?

In [12]:
import plotly.express as px

In [13]:
!pip install -U kaleido

Requirement already satisfied: kaleido in c:\users\miche\.vscode\advanced_python_2021-22_hd-1\.venv\lib\site-packages (0.2.1)

In [14]:
def create_plots(df, directory):
    for col in df.columns:
        if df[col].dtypes not in [int,float]:
            continue
        else:
            fig = px.histogram(df, x=col)
            fig.write_image(f"{directory}/"+col+".png")

In [15]:
create_plots(arabica_data, 'plots')

## cleaning outliers
* define heuristics that classify outliers for each column
* set outliers to median

In [16]:
import numpy as np

In [17]:
def create_cleaned_dataframe(df):
    df = df.copy()
    for col in df.columns:
        if df[col].dtypes not in [int,float]: continue
        mean_col = np.mean(df[col])
        median_col = np.median(df[col])
        std_col = np.std(df[col])
        df[col] = df[col].apply(lambda x: median_col if ((x > mean_col + 3 * std_col) | (x < mean_col - 3 * std_col)) else x)
    return df

In [18]:
arabica_final = create_cleaned_dataframe(arabica_data)

arabica_data == arabica_final

,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points,Moisture,Quakers,altitude_low_meters,altitude_high_meters,altitude_mean_meters,Country of Origin,Producer,Processing Method
1,False,False,False,False,False,True,True,True,True,False,False,True,True,True,True,True,True,True,True
2,False,False,False,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,False,False,False,False,True,True,True,True,False,True,True,True,True,True,True,True,True,True
5,True,False,True,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True
10,True,False,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306,True,False,False,False,True,False,False,True,False,True,False,True,True,True,True,True,True,True,True
1307,True,True,False,True,True,True,True,False,True,True,False,True,True,True,True,True,True,True,True
1308,True,True,True,True,True,True,True,False,False,True,False,True,True,True,True,True,True,True,True
1309,True,True,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True
1310,True,True,True,True,True,True,False,False,False,True,False,True,True,True,True,True,True,True,True

In [19]:
create_plots(arabica_final, 'plots_after_cleaning')

## Identify 
 * Which countries have more than 10 and less than 30 entries?
 * Which is the producer with most entries?
 * What is the mosts common and least common "Processing Method"

In [20]:
counts = arabica_data_cleaned["Country.of.Origin"].value_counts()

counts = counts[10 < counts]
counts = counts[counts < 30]

print(f'The countires with entries between 10 an 30 are: \n{counts}')

The countires with entries between 10 an 30 are:
Uganda         26
Nicaragua      26
Kenya          25
El Salvador    21
Indonesia      20
China          16
Malawi         11
Name: Country.of.Origin, dtype: int64

In [21]:
counts_producer = arabica_data_cleaned["Producer"].value_counts()

print(f'The producer with the most entries is {counts_producer[0:1]}.')

The producer with the most entries is La Plata    30
Name: Producer, dtype: int64.

In [22]:
count_process_method = arabica_data_cleaned["Processing.Method"].value_counts()

print(f'The most favorite processing method is {count_process_method[0:1]}.')
print(f'The least favorite processing method is {count_process_method[len(count_process_method)-1:len(count_process_method)]}.')

The most favorite processing method is Washed / Wet    812
Name: Processing.Method, dtype: int64.
The least favorite processing method is Pulped natural / honey    14
Name: Processing.Method, dtype: int64.